<nav role="navigation" id="js-menu" class="sliding-menu-content">
  <h5>{{ site.title }} <span>{{ site.data.messages.locales[site.locale].toc }}</span></h5>
  <h5 style="font-size:32px">Category</h5>
	<div class = "menu-item" style="margin-left:20px">
		{% for category in site.categories %}
		<div style="font-size:24px margin:20px">
		<a style="font-size:32px" title="view all posts">{{ category | first }} ({{ category | last | size }}) </a>
		<div>
		{% for post in category.last %}
			<p style="margin-top:0px;margin-bottom:0px;padding:0px"><a href="{{ post.url }}">{{ post.title }} ({{ post.date | date:"%d/%m/%Y"}})</a></p>
		{% endfor %}
		</div>
		</div>
		{% endfor %}
	</div>
	
	<ul class="menu-item" style="margin-top:20px">
    {% for link in site.data.navigation %}<li>
      <a href="{{ site.url }}{{ link.url }}">
        {% if link.image %}<img src="{{ site.url }}/images/{{ link.image }}" alt="teaser" class="teaser">{% endif %}
        <div class="title">{{ link.title }}</div>
        {% if link.excerpt %}<p class="excerpt">{{ link.excerpt }}</p>{% endif %}
      </a>
    </li>{% endfor %}
  </ul>
</nav>
<button type="button" id="js-menu-trigger" class="sliding-menu-button lines-button x2" role="button" aria-label="Toggle Navigation">
  <span class="nav-lines"></span>
</button>

<div id="js-menu-screen" class="menu-screen"></div>
