

/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 15px;
    }
	.home-content h1 {
    font-size: 48px;
	}
	.home-content p {
    font-size: 21px;
	}
	.portfolio-wrapper2 .portfolio-item.width-img {
    height: 198px;
	}
    

}

/* Portrait tablets and small desktops */
@media  (max-width: 991px) {
    html {
        font-size: 80%;
    }
	.about-content h4 {
    font-size: 14px;
	}
	
	.contact-area {
    padding: 60px 40px 124px 40px;
	}

}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    html {
        font-size: 70%;
    }
	.home-content h1 {
    font-size: 46px;
	}
	.home-content p {
    font-size: 20px;
	}
	.about-content a {
    margin-bottom: 20px;
	}
	.experience-content {
    margin-bottom: 20px;
	}
	
	.contact-area {
    margin-bottom: 20px;
	}
	.features-bg {
    margin: 0 auto;
    margin-bottom: 20px;
	}
	
   
}



/* Landscape phones and smaller */
@media (max-width: 480px) {
    html {
        font-size: 60%;
    }
	.home-content h1 {
    font-size: 18px;
	}
	.home-content p {
    font-size: 12px;
	}
	.heading-content h3 {
    font-size: 20px;
	}
	.experience-content h4 {
    font-size: 18px;
	}
   .experience-content .content-details h5 {
    font-size: 15px;
	}
	.testimonial-content .testimonial-quote p {
    font-size: 12px;
	}
	.contact-wrapper h4 {
    font-size: 18px;
	}
	.cd-header {
    top: 3%;
	}

}



@media (max-width: 320px) {


    html {
        font-size: 50%;
    }
	.home-content p {
    font-size: 11px;
	}
	.cd-header {
    top: 3%;
	}
	.overlay {
    min-height: 500px;
	}
	.home-wrapper {
    margin-top: 115px;
	}
}

